<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf8">
    <title>Sound PI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Sound PI">
    <link href="/assets/app.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <script src="/assets/app.js"></script>
  </body>
</html>
